:root {
    --cor-primaria: #535379;
    --cor-secundaria: #F26938;    
    --cor-branca: #daafa0;
    --cor-fundo-escuro: #fff;    
    --cor-fundo-cinza-escuro: background: rgb(36,51,252);
    background: linear-gradient(325deg, rgba(36,51,252,1) 0%, rgba(9,30,121,1) 39%, rgba(0,155,255,1) 100%);;
    --cor-fundo-cinza-claro: #011640;    
  }
    
  :root {
    --fonte-primaria: 'Poppins', sans serif;
    --fonte-secundaria: 'Raleway', sans serif;
    --fonte-gigante: 4.5rem;
    --fonte-extra-grande: 3rem;
    --fonte-grande: 2.4rem;
    --fonte-normal: 1.6rem;
  }
  
  :root {
    --mobile-padding: 30px;
  }